body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
	font-size: 16px;
	margin: 0;
	display: flex;
	justify-content: center;
}

.news {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

.card {
  box-sizing: border-box;
  width: 320px;
  padding: 50px 40px;
  margin-bottom: 20px;
}

.card:nth-child(odd) {
  background-color: #f3f4fd;
}

.card:nth-child(even) {
  border: 2px solid #f3f4fd;
}

.card-date {
  font-size: 13px;
  display: block;
}
